@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'gt-super';
  src: url('../public/fonts/gt-super-400-normal.woff');
}

@font-face {
  font-family: 'sohne';
  src: url('../public/fonts/sohne-500-normal.woff');
}
